n8n/workflow.json
{
  "name": "Kairon — Daily Briefing Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 12 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate a unique run_id and build the trigger payload\nconst runId = $execution.id + '-' + Date.now();\nconst triggeredAt = new Date().toISOString();\n\nreturn [{\n  json: {\n    run_id: runId,\n    triggered_at: triggeredAt,\n    target_user_id: null\n  }\n}];"
      },
      "id": "build-payload",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.KAIRON_API_URL }}/trigger",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8n-Secret",
              "value": "={{ $env.N8N_TRIGGER_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "id": "call-kairon-api",
      "name": "Trigger Kairon Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-accepted",
              "leftValue": "={{ $json.accepted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-response",
      "name": "Pipeline Accepted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log success\nconst data = $input.first().json;\nconsole.log(`[Kairon] Run ${data.run_id} accepted — queued ${data.queued_users} user(s)`);\nreturn [{ json: { status: 'success', ...data } }];"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "jsCode": "// Log failure — in production you'd send a Telegram alert here\nconst data = $input.first().json;\nconsole.error('[Kairon] Pipeline trigger failed:', JSON.stringify(data));\nreturn [{ json: { status: 'failed', error: data } }];"
      },
      "id": "log-failure",
      "name": "Log Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Every 12 Hours": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Trigger Kairon Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Kairon Pipeline": {
      "main": [
        [
          {
            "node": "Pipeline Accepted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Accepted?": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["kairon", "briefing", "automation"],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "kairon-local"
  }
}
